body {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.877),
    rgba(0, 0, 0, 0.623)
  );
}
.container {
  margin: 20px auto;
  position: relative;
  background-image: url("/ChelleNight-10.jpg");
  background-position: center;
  background-size: cover;
  background-color: red;
  width: 300px;
  height: 400px;
  box-shadow:
    rgba(8, 3, 6, 0.4) 5px 5px,
    rgba(17, 2, 12, 0.3) 10px 10px,
    rgba(8, 2, 6, 0.2) 15px 15px,
    rgba(2, 0, 1, 0.1) 20px 20px,
    rgba(0, 0, 0, 0.05) 25px 25px;
}
h1 {
  left: 110px;
  top: 30px;
  position: absolute;
  color: white;
  text-shadow: 0 0 10px cyan;
}
.frm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  left: 11%;
  bottom: 80px;
  width: 230px;
  height: 256px;
  position: absolute;

  gap: 10px;
}
.frm label {
  color: white;
}
.frm input {
  height: 20px;
  outline: none;
  padding-left: 5px;
}
.frm input:focus {
  border: 2px solid red;
  border-radius: 3px;
}
.frm h6 {
  font-size: 15px;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px red;
}
.lin {
  color: white;
  cursor: pointer;
}
.btn {
  height: 30px;
  border: 2px solid black;
  border-radius: 7px;
  cursor: pointer;
}
.btn:hover {
  color: blue;
}
